//body 

//html
html {
    scroll-behavior: smooth;
}

//header
header {
    width: 100%;
    height: auto;
    background-color: #124;
    margin: auto 0;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;

    article {
        img {
            width: 50px;
        }
    }
}